.idea
.metadata
.DS_Store
*.iml
*/~$*
~$*
*.tmp
logPath_IS_UNDEFINED
logs

*/.classpath
*/.project
*/.factorypath
*/.settings/

*/.DS_Store
*/.idea/
*/*.iml
*/target
*/*.log
*/logs
*/\$\{sys:LOG_FILE\}
*/*/\$\{sys:LOG_FILE\}
*/logPath_IS_UNDEFINED/
**/\$\{sys:LOG_PATH\}
sinogold-user/logPath_IS_UNDEFINED


sinogold-user/logPath_IS_UNDEFINED
sinogold-user/logs/
sinogold-activeLink/activeLink-db/logs/
sinogold-activeLink/${sys
.project
.settings
sinogold-vehicle.zip
